
<div class="container">
    <h1>Encuentra la solución adecuada para tu empresa.</h1>
    <p>Completa el siguiente formulario y nos pondremos en contacto contigo para conversar sobre tus necesidades de
        espacio de oficina.</p>
    <form>
        <div class="form-row">
            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"></label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre completo">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"></label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Correo Electrónico">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label for="inputPassword4"></label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Nombre de la empresa">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"></label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Numero de telefono">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label for="inputState"></label>
                    <select id="inputState" class="form-control">
                        <option selected>Bogota</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity"></label>
                    <input type="text" class="form-control" id="inputCity"
                        placeholder="¿Cuántas personas necesitan un espacio de trabajo?">
                </div>
            </div>
            
            
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Sign in</button>
        <br />
        <div class="form-outline">
            <br /> 
            <textarea class="form-control" id="textAreaExample1" rows="4"></textarea>
            <label class="form-label" for="textAreaExample" >Notas Adicionales</label>
        </div>
    </form>

</div>

