<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f">Facebook</i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"> Twitter</i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram">Instagram</i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin">LinkedIn</i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">

      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Empresa
            </h6>
            <p>
              <a href="#!" class="text-reset">Ubicaciones al rededor del mundo</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Misión</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Inclusion y diversidad</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Oportudidades de empleo</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Inversores</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sala de redacción</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Blog</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Colaboraciones
            </h6>
            <p>
              <a href="#!" class="text-reset">Brokers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Propietarios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Recomiéndanos a alguien</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Planificadores de eventos</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                         
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Soporte</h6>
            <p>
              <a href="#!" class="text-reset">Contacto</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Menber Login</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Preguntas frecuentas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Respuesta ante la COVID-19</a>
            </p>  

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Epañol</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Otro idioma</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
          
                </div>
              </div>
            </div>

          </div>

          
          <!-- Grid column -->
        </div>
        
        
        <!-- Grid row -->
      </div>

    </section>

    
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->