<div class="jumbotron form-group prueba3">
    <h1 class="display-3">Inicio de sesión</h1><br>

    <div class="">
        <input type="text" class="form-control" placeholder="Correo electrónico"><br>
    </div>
    <div class="">
        <input type="password" class="form-control" id="inputPassword" placeholder="contraseña">
    </div>
    <br>
    <a href="#"> ¿Has olvidado la contraseña?</a><br><br>
    <button type="submit" class="btn btn-primary">Continuar</button>


</div>


<router-outlet></router-outlet>
<style>
.prueba3{
    width: 100%;
  display: grid;
  place-content: center;
}

</style>

