<navegacion></navegacion>
<br/>
<div class="row">
  <div>
      <h3>Soluciones de espacio de trabajo </h3><br>
      <div class="col-md-7">
          <p>Obtén la privacidad y la personalización que esperas de tu propio espacio, con la flexibilidad que
              mereces. Descubre una solución para todas las formas en que tú y tu equipo trabajan.</p>
      </div>
  </div>
  <div class="jumbotron row prueba2">
      <div class=" row col-md-2" style="margin-right: 30px">
          <h4>Espacio de trabajo privado</h4> <br>
          <p>Oficinas amuebladas para trabajadores individuales y equipos</p>
      </div>
      <div class=" row col-md-10">
          <a class="card" style="width: 18rem;" href="#">

              <img class="card-img-top" src="./assets/imagen1.jpg" alt="">
              <h6>Escritorio dedicado</h6>
              <div class="card-body">
                  <p class="card-text">Tu propio escritorio en una oficina compartida</p>
              </div>
          </a>
          <a class="card" style="width: 18rem;" href="#">
              <img class="card-img-top" src="../assets/imagen3.jpg" alt="">
              <h6>Oficina privada</h6>
              <div class="card-body">
                  <p class="card-text">Oficina lista para mudarse con amenidades compartidas</p>
              </div>
          </a>
          <a class="card" style="width: 18rem;" href="#">
              <img class="card-img-top" src="../assets/imagen2.jpg" alt="">
              <h6>Suite de oficinas</h6>
              <div class="card-body">
                  <p class="card-text">Oficina lista para mudarse con amenidades privadas personalizadas.</p>
              </div>
          </a>
          <a class="card" style="width: 18rem;" href="#">
              <img class="card-img-top" src="../assets/imagen1.jpg" alt="">
              <h6>Oficina de planta completa</h6>
              <div class="card-body">
                  <p class="card-text">Espacio configurable en una planta privada</p>
              </div>
          </a>
      </div>
  </div>
</div>


  <style>
        .prueba2 {
          background-color: #f7f7f7;
          color: #000;
          border-radius: 0.25rem;
          border: 1px solid #e6e6e7;
      }

      a:link {
          text-decoration: none;
          color: #000;
      }

      a:visited {
          text-decoration: none;
          color: #000;
      }
  </style>


<br/>
  <contacto></contacto>

<br/>
<foot></foot>